html * {
	position: relative;
	box-sizing: border-box;
}

body {
	--background: white;
	--brand: hsl(270, 100%, 85%);
	--black: #222;
	--gray: #888;
	--light-gray: #eee;
	--lighter-gray: #f4f4f4;

	--corner: 0.2rem;

	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	color: var(--black);
}

#sapper {
	background: var(--background);
	min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 200;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

:disabled {
	color: inherit;
}

:focus {
	z-index: 2;
}

.clicking :focus {
	outline: none;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}


/* dark mode */
html[data-theme="dark"] {
	filter: invert(1) hue-rotate(180deg);
}

html[data-theme="dark"] body {
	--background: #ddd;
}